{
  "root": true,
  "env": {
    "browser": true
    // "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "linebreak-style": 0,
    "react/prop-types": 0,
    "no-unused-vars": 1,
    "max-len": 1
  }
}
